# Yum Packages

- name: "[Packages] - Enable FreeIpa Packages [redhat8]"
  dnf:
    name: "@idm:DL1"
    state: present
  when: ansible_distribution_major_version == '8' and ansible_distribution != "Ubuntu"

- name: "[Packages] - Install freeipa-server [redhat7]"
  package:
    state: present
    name: "{{item}}"
    use: yum
  with_items: 
    - freeipa-server 
    - ipa-server-dns
    - ipa-client
  when: play is defined and play == 'server' and ansible_distribution == "CentOS" or ansible_distribution == "RedHat" and ansible_distribution_major_version < '8'

- name: "[Packages] - Install freeipa-server [redhat8/9]"
  package:
    state: present
    name: "{{item}}"
    use: dnf
  with_items: 
    - freeipa-server 
    - ipa-server-dns
    - ipa-client
  when: ansible_distribution_major_version >= '8' and ansible_distribution != "Ubuntu" and play == 'server'

- name: "[Packages] - Install freeipa-client [redhat7]"
  package:
    state: present
    name: "{{item}}"
    use: yum
  with_items: 
    - ipa-client
  when: (ansible_distribution == "CentOS" or ansible_distribution == "RedHat") and ansible_distribution_major_version < '8'

- name: "[Packages] - Install freeipa-client [redhat8/9]"
  package:
    state: present
    name: "{{item}}"
    use: dnf
  with_items: 
    - ipa-client
  when: ansible_distribution_major_version >= '8' and ansible_distribution != "Ubuntu"

- name: "[Packages] - Install Free Ipa Client"
  package:
    state: present
    name: "{{item}}"
    use: apt
  with_items: 
    - krb5-user
    - freeipa-client
  when: (ansible_distribution == "Ubuntu" )



# - name: Install DNS
#   yum:
#     name: 
#     state: present
#   when: (services | select('match', 'BIND') | list | count) == 1 and play is defined and play == 'server'

# - name: Install Client
#   yum:
#     name: 
#     state: present
#   when: play is defined and play == 'client'


